<div class="modal fade show mt-5" id="sign-up-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="h3 text-center">
                User Sign-Up
                <button class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/register-user" method="POST">
                <div class="form-row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="firstName">First Name</label>
                            <input name="firstName" class="form-control" type="text" id="first-name" size="30"
                                placeholder="Enter First Name" value="{{signUpValues.firstName}}" />
                            {{#if validationSign.firstName}}
                            <small for="firstName" class="text-danger mt-0">{{validationSign.firstName}}</small>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" name="lastName" type="text" id="last-name" size="30"
                                placeholder="Enter Last Name" value="{{signUpValues.lastName}}" />
                            {{#if validationSign.lastName}}
                            <small for="firstName" class="text-danger mt-0">{{validationSign.lastName}}</small>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" name="email" type="text" id="email" size="30" placeholder="Enter e-mail"
                        value="{{signUpValues.email}}" />
                    {{#if validationSign.email}}
                    <small for="firstName" class="text-danger mt-0">{{validationSign.email}}</small>
                    {{/if}}
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" name="password" type="password" id="password" size="30"
                                placeholder="Enter Password" value="{{signUpValues.password}}" />
                            {{#if validationSign.password}}
                            <small for="firstName" class="text-danger mt-0">{{validationSign.password}}</small>
                            {{/if}}
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="confirm-password">Confirm Password</label>
                            <input class="form-control" name="confirmPassword" type="password" id="confirm-password"
                                size="30" placeholder="Re-enter Password" value="{{signUpValues.confirmPassword}}" />
                            {{#if validationSign.confirmPassword}}
                            <small for="firstName" class="text-danger mt-0">{{validationSign.confirmPassword}}</small>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-6 col-md-3"><input type="submit" class="btn btn-success form-control"
                            value="Sign up!"></div>
                    {{!-- <div class="col-6 col-md-3"><input type="reset" class="btn btn-danger form-control" value="Clear!"> --}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{{#if validationSign.error}}
<script type="text/javascript">
    let myModal = document.getElementById("sign-up-modal");
    $(myModal).modal('show');
</script>
{{/if}}