<div class="container">
    <div class="h2 text-success mt-5  text-center">This is your profile page, {{loggedUser.firstName}}
        {{loggedUser.lastName}}.</div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header text-center">
                        Your Cart Summary
                    </div>
                    <div class="card-body">
                        {{#if totalItems}}
                        <p class="card-text text-muted text-center">Total number of items: {{totalItems}}</p>
                        {{else}}
                        <p class="card-text text-muted text-center">You have no items in your cart. Add some to order.</p>
                        {{/if}}
                        <hr>
                        <div class="row justify-content-center">
                                <a href="/cart" class="btn btn-success green-background">Go to your cart</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="p  text-center">Update your data:</div>
        <div class="text-center"><div class="text-muted">CRUD functionalities NOT implemented.</div></div>
        <br>
    <div class="container">
        <form action="/user-update" method="POST">
            <div class="form-row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input name="firstName" class="form-control" type="text" id="first-name" size="30"
                            placeholder="Enter First Name" value="{{loggedUser.firstName}}" />
                        {{#if validationUpdate.firstName}}
                        <small for="firstName" class="text-danger mt-0">{{validationUpdate.firstName}}</small>
                        {{/if}}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" name="lastName" type="text" id="last-name" size="30"
                            placeholder="Enter Last Name" value="{{loggedUser.lastName}}" />
                        {{#if validationUpdate.lastName}}
                        <small for="firstName" class="text-danger mt-0">{{validationUpdate.lastName}}</small>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input class="form-control" name="email" type="text" id="email" size="30" placeholder="Enter e-mail"
                    value="{{loggedUser.email}}" />
                {{#if validationUpdate.email}}
                <small for="firstName" class="text-danger mt-0">{{validationUpdate.email}}</small>
                {{/if}}
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" name="password" type="password" id="password" size="30"
                            placeholder="Enter Password" value="{{loggedUser.password}}"  />
                        {{#if validationUpdate.password}}
                        <small for="firstName" class="text-danger mt-0">{{validationUpdate.password}}</small>
                        {{/if}}
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="confirm-password">Confirm Password</label>
                        <input class="form-control" name="confirmPassword" type="password" id="confirm-password"
                            size="30" placeholder="Re-enter Password" value="{{loggedUser.confirmPassword}}" />
                        {{#if validationUpdate.confirmPassword}}
                        <small for="firstName" class="text-danger mt-0">{{validationUpdate.confirmPassword}}</small>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-6 col-md-3"><input type="submit" class="btn btn-primary form-control" value="Update" ></div>
                <div class="col-6 col-md-3"><input type="submit" class="btn btn-secondary form-control" value="Remove" ></div>
            </div>Update
    </div>
    </form>
</div>
</div>