<div class="container-fluid grey-background mt-3 pt-3  w-100">
    <div class="h2 green text-center mb-2 mt-0 font-weight-bold">Breakfast</div>
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center text-center">
            {{#each breakfastData}}
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-lg-4 mb-md-2 mb-sm-3 mb-3">
                <div class="card text-center h-100 shadow">
                    <div class="card-header h3 text-dark">{{title}}</div>
                    <img src="/imgs/products/{{_id}}.jpg" alt="Picture of {{title}}" class="card-img-top">
                    <div class="card-footer mt-0">
                        <p class="text-muted mt-0 mb-1">CAD$ <span
                                class="text-danger font-weight-bold h4">{{#moneyFixed}}{{#moneyFixed}}{{price}}{{/moneyFixed}}{{/moneyFixed}}</span>
                        </p>
                        <p class="mb-1 mt-0"><span class="text-muted">Category: {{category}}</span><a href=""
                                data-toggle="modal" data-target="#card{{_id}}-modal"> +
                                Details</a></p>
                        {{#if ../user}}
                        {{#if ../user.isDataClerk}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only regular users may add item. Login your regular user account.">Add to
                            Cart</button>
                        {{else}}
                        <button type="button" class="btn btn-success" onclick="addToCart('{{_id}}')"
                            data-toggle="popover" data-trigger="focus" title="Added to Cart" data-placement="bottom"
                            data-content="Keep adding more meals. Click anywhere to dismiss.">Add to Cart</button>
                        {{/if}}
                        {{else}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only logged users may add item. Login your user account.">Add to
                            Cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="container-fluid grey-background mt-0 pt-3  w-100">
    <div class="h2 green text-center mb-2 mt-0 font-weight-bold">Dinner</div>
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center text-center">
            {{#each dinnerData}}
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-lg-4 mb-md-2 mb-sm-3 mb-3">
                <div class="card text-center h-100 shadow">
                    <div class="card-header h3 text-dark">{{title}}</div>
                    <img src="/imgs/products/{{_id}}.jpg" alt="Picture of {{title}}" class="card-img-top">
                    <div class="card-body mb-0 pb-0">
                        <p class="text-muted mt-0 mb-1">{{description}}</p>
                        <p class="text-muted mt-0 mb-1">CAD$ <span
                                class="text-danger font-weight-bold h4">{{#moneyFixed}}{{price}}{{/moneyFixed}}</span>
                        </p>
                    </div>
                    <div class="card-footer mt-0">
                        <p class="mb-1 mt-0"><span class="text-muted">Category: {{category}}</span><a href=""
                                data-toggle="modal" data-target="#card{{_id}}-modal"> +
                                Details</a></p>
                        {{#if ../user}}
                        {{#if ../user.isDataClerk}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only regular users my add item. Login in your regular user account.">Add to
                            Cart</button>
                        {{else}}
                        <button type="button" class="btn btn-success" onclick="addToCart('{{_id}}')"
                            data-toggle="popover" data-trigger="focus" title="Added to Cart" data-placement="bottom"
                            data-content="Keep adding more meals. Click anywhere to dismiss.">Add to Cart</button>
                        {{/if}}
                        {{else}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only logged users my add item. Login in your user account.">Add to
                            Cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="container-fluid grey-background mt-0 pt-3  w-100">
    <div class="h2 green text-center mb-2 mt-0 font-weight-bold">Salads</div>
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center text-center">
            {{#each saladsData}}
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-lg-4 mb-md-2 mb-sm-3 mb-3">
                <div class="card text-center h-100 shadow">
                    <div class="card-header h3 text-dark">{{title}}</div>
                    <img src="/imgs/products/{{_id}}.jpg" alt="Picture of {{title}}" class="card-img-top">
                    <div class="card-body mb-0 pb-0">
                        <p class="text-muted mt-0 mb-1">{{description}}</p>
                        <p class="text-muted mt-0 mb-1">CAD$ <span
                                class="text-danger font-weight-bold h4">{{#moneyFixed}}{{price}}{{/moneyFixed}}</span>
                        </p>
                    </div>
                    <div class="card-footer mt-0">
                        <p class="mb-1 mt-0"><span class="text-muted">Category: {{category}}</span><a href=""
                                data-toggle="modal" data-target="#card{{_id}}-modal"> +
                                Details</a></p>
                        {{#if ../user}}
                        {{#if ../user.isDataClerk}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only regular users my add item. Login in your regular user account.">Add to
                            Cart</button>
                        {{else}}
                        <button type="button" class="btn btn-success" onclick="addToCart('{{_id}}')"
                            data-toggle="popover" data-trigger="focus" title="Added to Cart" data-placement="bottom"
                            data-content="Keep adding more meals. Click anywhere to dismiss.">Add to Cart</button>
                        {{/if}}
                        {{else}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only logged users my add item. Login in your user account.">Add to
                            Cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<div class="container-fluid grey-background mt-0 pt-3  w-100">
    <div class="h2 green text-center mb-2 mt-0 font-weight-bold">Sandwiches and Burgers</div>
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center text-center">
            {{#each sandwichesData}}
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-lg-4 mb-md-2 mb-sm-3 mb-3">
                <div class="card text-center h-100 shadow">
                    <div class="card-header h3 text-dark">{{title}}</div>
                    <img src="/imgs/products/{{_id}}.jpg" alt="Picture of {{title}}" class="card-img-top">
                    <div class="card-body mb-0 pb-0">
                        <p class="text-muted mt-0 mb-1">{{description}}</p>
                        <p class="text-muted mt-0 mb-1">CAD$ <span
                                class="text-danger font-weight-bold h4">{{#moneyFixed}}{{price}}{{/moneyFixed}}</span>
                        </p>
                    </div>
                    <div class="card-footer mt-0">
                        <p class="mb-1 mt-0"><span class="text-muted">Category: {{category}}</span><a href=""
                                data-toggle="modal" data-target="#card{{_id}}-modal"> +
                                Details</a></p>
                        {{#if ../user}}
                        {{#if ../user.isDataClerk}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only regular users my add item. Login in your regular user account.">Add to
                            Cart</button>
                        {{else}}
                        <button type="button" class="btn btn-success" onclick="addToCart('{{_id}}')"
                            data-toggle="popover" data-trigger="focus" title="Added to Cart" data-placement="bottom"
                            data-content="Keep adding more meals. Click anywhere to dismiss.">Add to Cart</button>
                        {{/if}}
                        {{else}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only logged users my add item. Login in your user account.">Add to
                            Cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>


<div class="container-fluid grey-background mt-0 pt-3  w-100">
    <div class="h2 green text-center mb-2 mt-0 font-weight-bold">Soups</div>
    <div class="container-fluid">
        <div class="row text-center d-flex justify-content-center text-center">
            {{#each soupsData}}
            <div class="col-12 col-sm-8 col-md-4 col-lg-3 mb-lg-4 mb-md-2 mb-sm-3 mb-3">
                <div class="card text-center h-100 shadow">
                    <div class="card-header h3 text-dark">{{title}}</div>
                    <img src="/imgs/products/{{_id}}.jpg" alt="Picture of {{title}}" class="card-img-top">
                    <div class="card-body mb-0 pb-0">
                        <p class="text-muted mt-0 mb-1">{{description}}</p>
                        <p class="text-muted mt-0 mb-1">CAD$ <span
                                class="text-danger font-weight-bold h4">{{#moneyFixed}}{{price}}{{/moneyFixed}}</span>
                        </p>
                    </div>
                    <div class="card-footer mt-0">
                        <p class="mb-1 mt-0"><span class="text-muted">Category: {{category}}</span><a href=""
                                data-toggle="modal" data-target="#card{{_id}}-modal"> +
                                Details</a></p>
                        {{#if ../user}}
                        {{#if ../user.isDataClerk}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only regular users my add item. Login in your regular user account.">Add to
                            Cart</button>
                        {{else}}
                        <button type="button" class="btn btn-success" onclick="addToCart('{{_id}}')"
                            data-toggle="popover" data-trigger="focus" title="Added to Cart" data-placement="bottom"
                            data-content="Keep adding more meals. Click anywhere to dismiss.">Add to Cart</button>
                        {{/if}}
                        {{else}}
                        <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                            title="Error" data-placement="bottom"
                            data-content="Only logged users my add item. Login in your user account.">Add to
                            Cart</button>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

{{!-- modal details --}}
{{#each data}}
<div class="modal fade mt-5" id="card{{_id}}-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card text-center h-100 shadow">
                <div class="card-header h3 text-dark">{{title}}</div>
                <img src="/imgs/products/{{_id}}.jpg" alt="Picture of {{title}}" class="card-img-top">
                <div class="card-body mb-0 pb-0">
                    <p class="text-muted mt-0 mb-1">{{description}}</p>

                    <div class="row">
                        <div class="col-6">
                            <p class="text-muted mt-0 mb-1">Ingredients: {{ingredients}}</p>
                        </div>
                        <div class="col-6">
                            <p class="text-muted mt-0 mb-1">Cooking Time: {{cookingTime}}</p>
                            <p class="text-muted mt-0 mb-1">Calories: {{calories}} kcal</p>
                        </div>
                    </div>
                    <p class="text-muted mt-0 mb-1">CAD$ <span
                            class="text-danger font-weight-bold h4">{{#moneyFixed}}{{price}}{{/moneyFixed}}</span>
                    </p>
                </div>
                <div class="card-footer mt-0">
                    <p class="mb-1 mt-0"><span class="text-muted">Category: {{category}}
                            {{#if available}}
                            <span class="text-success"> Available</span>
                            {{#else}}
                            <span class="text-danger"> Out of Stock</span>
                            {{/else}}
                            {{/if}}</span>
                        <span class="text-muted">Servings: {{servings}}</span>
                    </p>
                    {{#if ../user}}
                    {{#if ../user.isDataClerk}}
                    <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                        title="Error" data-placement="bottom"
                        data-content="Only regular users my add item. Login in your regular user account.">Add to
                        Cart</button>
                    {{else}}
                    <button type="button" class="btn btn-success" onclick="addToCart('{{_id}}')" data-toggle="popover"
                        data-trigger="focus" title="Added to Cart" data-placement="bottom"
                        data-content="Keep adding more meals. Click anywhere to dismiss.">Add to Cart</button>
                    {{/if}}
                    {{else}}
                    <button type="button" class="btn btn-secondary" data-toggle="popover" data-trigger="focus"
                        title="Error" data-placement="bottom"
                        data-content="Only logged users my add item. Login in your user account.">Add to
                        Cart</button>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}