<div class="container mt-4">
    <div class="h2 text-center mt-2">Update product:</div>
    <div class="small text-center  text-muted">Id: {{product._id}}</div>

    <form action="/update-product" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input name="title" id="title" class="form-control" type="text" size="30"
                        placeholder="Enter a title" value="{{product.title}}" required />
                    {{#if validation.title}}
                    <small for="title" class="text-danger mt-0">{{validation.title}}</small>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" type="text" id="description"
                        placeholder="Enter Description" required />{{product.description}}</textarea>
                    {{#if validation.description}}
                    <small for="description" class="text-danger mt-0">{{validation.description}}</small>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="ingredients">Ingredients</label>
                    <textarea class="form-control" name="ingredients" id="ingredients" type="text" id="ingredients"
                        placeholder="Enter Ingredients" required />{{product.ingredients}}</textarea>
                    {{#if validation.ingredients}}
                    <small for="ingredients" class="text-danger mt-0">{{validation.ingredients}}</small>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="price">Price</label>
                    <input class="form-control" name="price" id="price" type="number" id="price"
                        placeholder="Enter Price" step="0.01" value="{{product.price}}" required />
                    {{#if validation.price}}
                    <small for="price" class="text-danger mt-0">{{validation.price}}</small>
                    {{/if}}
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="category">Category</label>
                    <select name="category" class="form-control">
                        <option value="Breakfast" {{#if product.Breakfast}}selected{{/if}}>Breakfast</option>
                        <option value="Dinner" {{#if product.Dinner}}selected{{/if}}>Dinner</option>
                        <option value="Salads" {{#if product.Salads}}selected{{/if}}>Salad</option>
                        <option value="Sandwiches" {{#if product.Sandwiches}}selected{{/if}}>Sandwich</option>
                        <option value="Soups" {{#if product.Soups}}selected{{/if}}>Soup</option>
                    </select>
                    {{#if validation.category}}
                    <small for="category" class="text-danger mt-0">{{validation.category}}</small>
                    {{/if}}
                </div>
            </div>
        </div>

        <br>

        {{!--  --}}
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="col-10">
                    <div class="form-group">
                        <label for="picture">Picture</label>
                        <img src="/imgs/products/{{product._id}}.jpg" alt="No picture for {{title}}"
                            class="img-thumbnail">
                        <input type="file" class="form-control-file" id="picture" name="picture" accept="image/*">
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="col-12">
                    <div class="form-group">
                        <label for="cookingTime">Cooking Time</label>
                        <input class="form-control" name="cookingTime" type="number" id="cookingTime"
                            placeholder="Enter Cooking Time" value="{{product.cookingTime}}" required />
                        {{#if validation.cookingTime}}
                        <small for="cookingTime" class="text-danger mt-0">{{validation.cookingTime}}</small>
                        {{/if}}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="calories">Calories</label>
                        <input class="form-control" name="calories" type="number" id="calories"
                            placeholder="Enter Calories" value="{{product.calories}}" required />
                        {{#if validation.calories}}
                        <small for="calories" class="text-danger mt-0">{{validation.calories}}</small>
                        {{/if}}
                    </div>
                </div>
                <div class="col-12">
                    <label for="servings">Servings</label>
                    <input class="form-control" name="servings" type="number" id="servings" placeholder="Enter Servings"
                        value="{{product.servings}}" required />
                    {{#if validation.servings}}
                    <small for="servings" class="text-danger mt-0">{{validation.servings}}</small>
                    {{/if}}
                </div>
                <br>
                <div class="col-12 form-group">
                    <div class="row">

                    <div class="col-6">
                        <div class="form-check">
                            <label class="form-check-label" for="featured">
                                <input class="form-check-input" type="checkbox" id="featured" name="featured"
                                    value="true" {{#if product.featured}}checked{{/if}} />Featured
                            </label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check">
                            <label class="form-check-label" for="available">
                                <input class="form-check-input" type="checkbox" id="available" name="available"
                                    value="true" {{#if product.available}}checked{{/if}} />Available
                            </label>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
            <br>
        </div>




        <br>
        <input type="hidden" name="_id" id="_id" value="{{product._id}}">
        <div class="row justify-content-between">
            <div class="col-6 col-md-3"><input type="submit" class="btn btn-success form-control" value="Update"></div>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                Delete
            </button>
        </div>
    </form>
</div>
<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="deleteModalTitle">DANGER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{product.title}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a type="button" href="/delete-product/{{product._id}}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>